on:
  push:
    branches:
      - main

name: Build

jobs:
  build:
    runs-on: ubuntu-slim
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v6

      - uses: mlugg/setup-zig@v2
        with:
          version: master

      - run: zig build test --summary all
