on:
  push:
    branches:
      - main

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: mlugg/setup-zig@v2.1.0
        with:
          version: master

      - run: zig build test
